
@font-face {
	font-family: 'Wagon';
	src: url('../fonts/Wagon-ExtraLight.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'lunch';
	src: url('../fonts/lunchtype24-regular-expanded-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}



video{
  width: 100vh;
}