body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Fantasy', sans-serif;
}
.button {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}
.message {
    display: none;
    font-size: 36px;
    text-align: center;
}
.confetti {
    position: fixed;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #ff0;
    animation: fall linear infinite;
}
@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}
